In [2]:
import pandas as pd

colunas = ['NU_INSCRICAO', 'IN_TREINEIRO', 'TP_SEXO', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2020.csv', sep=";", encoding='ISO-8859-1', usecols=colunas)

**Quantidade inscritos**

In [3]:
# Contando os inscritos
qtd_inscritos = microdadosEnem['NU_INSCRICAO'].count()

# Aqui formatei o valor para '.'
numero_formatado = "{:,.0f}".format(qtd_inscritos).replace(',', 'X').replace('.', ',').replace('X', '.')

# Imprimindo a mensagem
print(f"A quantidade do número de inscritos é: {numero_formatado}")

A quantidade do número de inscritos é: 5.783.109

**Quantidade de inscritos entre os sexos Masculinos e Femininos**

In [4]:
tabela_inscritos = microdadosEnem.groupby('TP_SEXO')['NU_INSCRICAO'].count().reset_index()
# Formatando a coluna NU_INSCRICAO
tabela_inscritos['NU_INSCRICAO'] = tabela_inscritos['NU_INSCRICAO'].apply(lambda x: "{:,.0f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.'))

tabela_inscritos

  TP_SEXO NU_INSCRICAO
0       F    3.468.805
1       M    2.314.304

**Dados de média nota de 2020**

In [5]:
dados_nota_cn = microdadosEnem['NU_NOTA_CN'].mean()
dados_nota_mt = microdadosEnem['NU_NOTA_MT'].mean()
dados_nota_lc = microdadosEnem['NU_NOTA_LC'].mean()
dados_nota_ch = microdadosEnem['NU_NOTA_CH'].mean()
dados_nota_red = microdadosEnem['NU_NOTA_REDACAO'].mean()
media_notas = pd.DataFrame({
    "MEDIA_MAT": [dados_nota_mt],
    "MEDIA_CN": [dados_nota_cn],
    "MEDIA_LC": [dados_nota_lc],
    "MEDIA_CH": [dados_nota_ch],
    "MEDIA_RED": [dados_nota_red],
})

media_notas

    MEDIA_MAT    MEDIA_CN    MEDIA_LC    MEDIA_CH   MEDIA_RED
0  520.578335  490.409792  523.800936  511.152202  573.412724

**Média de notas Redação entre Homens e Mulheres**

In [11]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_REDACAO'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_REDACAO
0       F       588.297913
1       M       550.703832

**Quantas pessoas tiraram nota acima de 900 na redação em 2020 ?**

In [12]:
filtrar = microdadosEnem['NU_NOTA_REDACAO'] > 900
dados_redacao = microdadosEnem[filtrar]
numeros_acima_900 = dados_redacao['NU_NOTA_REDACAO'].count()
numero_formatado = "{:,.0f}".format(numeros_acima_900).replace(',', 'X').replace('.', ',').replace('X', '.')
print(f"A quantidade de pessoas que tiraram mais de 900: {numero_formatado}")

A quantidade de pessoas que tiraram mais de 900: 138.510

**Quantas pessoas entre homens e mulheres tiraram acima de 900 ?**

In [13]:
filtro_1 = microdadosEnem['NU_NOTA_REDACAO'] > 900
selecao_acima_900 = microdadosEnem[filtro_1]
selecao_acima_900

quantidade = selecao_acima_900.groupby('TP_SEXO')['NU_NOTA_REDACAO'].count().to_frame()
# Formatando com separador de milhar (ponto) e sem casas decimais
quantidade['NU_NOTA_REDACAO'] = quantidade['NU_NOTA_REDACAO'].map('{:,.0f}'.format).str.replace(',', '.')
quantidade

        NU_NOTA_REDACAO
TP_SEXO
F                95.457
M                43.053