In [2]:
import pandas as pd

colunas = ['NU_INSCRICAO', 'IN_TREINEIRO', 'TP_SEXO', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2022.csv', sep=";", encoding='ISO-8859-1', usecols=colunas)

**Quantidade inscritos**

In [3]:
# Contando os inscritos
qtd_inscritos = microdadosEnem['NU_INSCRICAO'].count()

# Aqui formatei o valor para '.'
numero_formatado = "{:,.0f}".format(qtd_inscritos).replace(',', 'X').replace('.', ',').replace('X', '.')

# Imprimindo a mensagem
print(f"A quantidade do número de inscritos é: {numero_formatado}")

A quantidade do número de inscritos é: 3.476.105

**Quantidade de inscritos entre os sexos Masculinos e Femininos**

In [4]:
tabela_inscritos = microdadosEnem.groupby('TP_SEXO')['NU_INSCRICAO'].count().reset_index()
# Formatando a coluna NU_INSCRICAO
tabela_inscritos['NU_INSCRICAO'] = tabela_inscritos['NU_INSCRICAO'].apply(lambda x: "{:,.0f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.'))

tabela_inscritos

  TP_SEXO NU_INSCRICAO
0       F    2.120.519
1       M    1.355.586

**Dados de média nota de 2021**

In [5]:
dados_nota_cn = microdadosEnem['NU_NOTA_CN'].mean()
dados_nota_mt = microdadosEnem['NU_NOTA_MT'].mean()
dados_nota_lc = microdadosEnem['NU_NOTA_LC'].mean()
dados_nota_ch = microdadosEnem['NU_NOTA_CH'].mean()
dados_nota_red = microdadosEnem['NU_NOTA_REDACAO'].mean()
media_notas = pd.DataFrame({
    "MEDIA_MAT": [dados_nota_mt],
    "MEDIA_CN": [dados_nota_cn],
    "MEDIA_LC": [dados_nota_lc],
    "MEDIA_CH": [dados_nota_ch],
    "MEDIA_RED": [dados_nota_red],
})

media_notas

    MEDIA_MAT   MEDIA_CN    MEDIA_LC    MEDIA_CH  MEDIA_RED
0  542.503216  495.93052  517.438935  526.953149   618.4797

**Média por sexo masculino e feminino nota Matemática**

In [6]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_MT'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_MT
0       F  526.608884
1       M  567.608393

**Média por sexo Masculino e Feminino nota Ciência da Natureza**

In [9]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_CN'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_CN
0       F  488.413902
1       M  507.803056

**Média por sexo Masculino e Feminino nota Linguagens e codigos**

In [10]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_LC'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_LC
0       F  516.810426
1       M  518.437208

**Média por sexo Masculino e Feminino nota Ciências Humanas**

In [11]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_CH'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_CH
0       F  523.012961
1       M  533.211426

**Média de notas Redação entre Homens e Mulheres**

In [12]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_REDACAO'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_REDACAO
0       F       628.922919
1       M       601.892533

**Quantas pessoas tiraram nota acima de 900 na redação em 2022 ?**

In [7]:
filtrar = microdadosEnem['NU_NOTA_REDACAO'] > 900
dados_redacao = microdadosEnem[filtrar]
numeros_acima_900 = dados_redacao['NU_NOTA_REDACAO'].count()
numero_formatado = "{:,.0f}".format(numeros_acima_900).replace(',', 'X').replace('.', ',').replace('X', '.')
print(f"A quantidade de pessoas que tiraram mais de 900: {numero_formatado}")

A quantidade de pessoas que tiraram mais de 900: 133.026