In [12]:
import pandas as pd

colunas = ['NU_INSCRICAO', 'IN_TREINEIRO', 'TP_SEXO', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2021.csv', sep=";", encoding='ISO-8859-1', usecols=colunas)

**Dados de média das notas 2021**

In [7]:
dados_nota_cn = microdadosEnem['NU_NOTA_CN'].mean()
dados_nota_mt = microdadosEnem['NU_NOTA_MT'].mean()
dados_nota_lc = microdadosEnem['NU_NOTA_LC'].mean()
dados_nota_ch = microdadosEnem['NU_NOTA_CH'].mean()

media_notas = pd.DataFrame({
    "MEDIA_MAT": [dados_nota_mt],
    "MEDIA_CN": [dados_nota_cn],
    "MEDIA_LC": [dados_nota_lc],
    "MEDIA_CH": [dados_nota_ch],
})

media_notas

    MEDIA_MAT    MEDIA_CN    MEDIA_LC    MEDIA_CH
0  535.080186  491.785675  502.555569  519.943395

**Quantidade inscritos**

In [8]:
# Contando os inscritos
qtd_inscritos = microdadosEnem['NU_INSCRICAO'].count()

# Aqui formatei o valor para '.'
numero_formatado = "{:,.0f}".format(qtd_inscritos).replace(',', 'X').replace('.', ',').replace('X', '.')

# Imprimindo a mensagem
print(f"A quantidade do número de inscritos é: {numero_formatado}")

A quantidade do número de inscritos é: 3.389.832

Quantidade de inscritos entre os sexos Masculinos e Femininos

In [9]:
tabela_inscritos = microdadosEnem.groupby('TP_SEXO')['NU_INSCRICAO'].count().reset_index()
# Formatando a coluna NU_INSCRICAO
tabela_inscritos['NU_INSCRICAO'] = tabela_inscritos['NU_INSCRICAO'].apply(lambda x: "{:,.0f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.'))

tabela_inscritos

  TP_SEXO NU_INSCRICAO
0       F    2.090.526
1       M    1.299.306

Média de notas de matemática Mulheres e Homens

In [10]:
tabela_media = microdadosEnem.groupby('TP_SEXO')['NU_NOTA_MT'].mean().reset_index()
tabela_media

  TP_SEXO  NU_NOTA_MT
0       F  519.805384
1       M  559.703852

In [14]:
filtrar = microdadosEnem['NU_NOTA_REDACAO'] > 900
dados_redacao = microdadosEnem[filtrar]
numeros_acima_900 = dados_redacao['NU_NOTA_REDACAO'].count()
numero_formatado = "{:,.0f}".format(numeros_acima_900).replace(',', 'X').replace('.', ',').replace('X', '.')
print(f"A quantidade de pessoas que tiraram mais de 900: {numero_formatado}")

A quantidade de pessoas que tiraram mais de 900: 111.199