In [69]:
import pandas as pd

colunas = ['NU_INSCRICAO', 'IN_TREINEIRO', 'TP_SEXO', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2018.csv', sep=";", encoding='ISO-8859-1', usecols=colunas)

import pandas as pd

colunas2 = ['NU_INSCRICAO', 'IN_TREINEIRO', 'TP_SEXO', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO']
microdadosEnem = pd.read_csv('MICRODADOS_ENEM_2019.csv', sep=";", encoding='ISO-8859-1', usecols=colunas2)

**Média todas as notas de 2018 e 2019**

In [34]:

todas_notas_2018 = pd.DataFrame({
    "MEDIA_MAT": [535.405],
    "MEDIA_CN": [493.683],
    "MEDIA_LC": [526.453],
    "MEDIA_CH": [568.097],
    "MEDIA_RED": [508.679],
})

todas_notas_2018

   MEDIA_MAT  MEDIA_CN  MEDIA_LC  MEDIA_CH  MEDIA_RED
0    535.405   493.683   526.453   568.097    508.679

In [39]:
todas_notas_2019 = pd.DataFrame({
    "MEDIA_MAT": [523.124],
    "MEDIA_CN": [477.823],
    "MEDIA_LC": [520.517],
    "MEDIA_CH": [507.247],
    "MEDIA_RED": [571.18],
})

todas_notas_2019

   MEDIA_MAT  MEDIA_CN  MEDIA_LC  MEDIA_CH  MEDIA_RED
0    523.124   477.823   520.517   507.247     571.18

**Comparando média matemática antes da pandemia**

In [44]:
selecao1 = todas_notas_2018['MEDIA_MAT']
selecao2 = todas_notas_2019['MEDIA_MAT']

media_matematica = (selecao1 + selecao2) / 2
media_matematica

0    529.2645
Name: MEDIA_MAT, dtype: float64

**Ciências da natureza antes da pandemia**

In [47]:
selecao1 = todas_notas_2018['MEDIA_CN']
selecao2 = todas_notas_2019['MEDIA_CN']

media_CN = (selecao1 + selecao2) / 2
media_CN

0    485.753
Name: MEDIA_CN, dtype: float64

**Linguagens e códigos antes da pandemia**

In [48]:
selecao1 = todas_notas_2018['MEDIA_LC']
selecao2 = todas_notas_2019['MEDIA_LC']

media_LC = (selecao1 + selecao2) / 2
media_LC

0    523.485
Name: MEDIA_LC, dtype: float64

**Ciências Humanas antes da pandemia**

In [49]:
selecao1 = todas_notas_2018['MEDIA_CH']
selecao2 = todas_notas_2019['MEDIA_CH']

media_CH = (selecao1 + selecao2) / 2
media_CH

0    537.672
Name: MEDIA_CH, dtype: float64

**Média redação antes da pandemia**

In [50]:
selecao1 = todas_notas_2018['MEDIA_RED']
selecao2 = todas_notas_2019['MEDIA_RED']

media_RED = (selecao1 + selecao2) / 2
media_RED

0    539.9295
Name: MEDIA_RED, dtype: float64

In [67]:
todos_dados_2018 = todas_notas_2018.sum()
media_2018 = todos_dados_2018.mean()

todos_dados_2019 = todas_notas_2019.sum()
media_2019 = todos_dados_2019.mean()

media = (media_2018 + media_2019) / 2

media

np.float64(523.2208)

**Média das notas antes da pandemia por sexo**